@charset "UTF-8";

body{
    text-align: center;
}
section{
    margin: auto;
    background-color: aquamarine;
    padding: 20px 20px 60px 20px;
    width: 600px;
    border-radius: 20px;
}
button{
    margin-top: 50px;
}